<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UE Resume</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>

    <!--<link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>-->
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          th:href="@{/releases/v5.4.1/css/all.css}"/>-->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body  style="background-color:rgb(37, 37, 37);">

https://vimeo.com/776645314/18ef5bb63a
<div class="container" style=" ">
    <div class="container-section d-flex align-items-center justify-content-center col-4" style="margin-bottom: 10px; top :0px;padding-top: 0;">
        <div class="container-section-part"  style="margin: 0; padding-top: 0;">

            <div class="row container-section-second" style="margin: 0;padding-top: 0;">
                <div class="cs-second-button-part" style="margin: 0">
                    <div class="first-button">

                        <a  class="col-xs-12" style="display: flex;  padding: 0px;">
                            
                            <img src="Slide1.jpg" alt="Italian Trulli" class="responsive">
                        </a>
                        <a  class="col-xs-12" style="display: flex;  padding: 0px;">
                            
                            <img src="Slide2.jpg" alt="Italian Trulli" class="responsive">
                        </a>
                        <a class='col-xs-12 embed-container' style="padding-bottom: 100%">
                           
                            <iframe src='https://player.vimeo.com/video/776645314?h=eef4c61288' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            
                        </a>


                        <a href="mailto:anhureth@gmail.com" class="col-xs-12" style="display: flex;  padding: 5px;">
                            
                            <button type="submit"
                                    class="btn btn-default app-button shape-button message-box big-button-box">
                                <md-icon class="large material-icons head-material button">mail</md-icon>
                                <br/>
                                anhureth@gmail.com
                            </button>
                        </a>


                    </div>


                </div>


            </div>
        </div>
    </div>
</div>


</body>
</html>